/* top navbar */

.navbar-default.backend {
    border-color: #b6c828;
}

.navbar-default.frontend {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
    border-color: #d3de73;
}

.navbar-default .navbar-brand {
    padding: 7px 0 7px 7px;
    margin-left: 0 !important;

    img {
        height: 30px;
    }
}

.navbar-fixed-top .navbar-right {
    padding-right: 5px;
}

.navbar-title {
    font-size: 12px;
    padding-left: 10px;
}

.navbar-title,
span.select-language {
    padding-top: 32px;
    display: inline-block;
}

.navbar {
    #settings {
        width: 550px;
    }
}

/* breadcrumb */

.breadcrumb .navbar-right {
    margin-right: 0 !important;
}

.breadcrumb > li + li::before {
    content: "";
}

/* nav links (filter publicatinons) */

.facets .nav-tabs {
    border-bottom: 0;
}

.nav-tabs > li > a,
.nav-tabs > li > button {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    margin-right: 0;
}

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > button {
    border: 1px solid #ddd;
    border-radius: 0;
}

.nav-tabs.nav-stacked > li > button {
    background-color: white;
    width: 100%;
    text-align: left;
    padding-left: 12px;
}

.nav-tabs.nav-stacked > li > button:hover {
    background-color: #eee;
}

.nav-tabs.nav-stacked > li:first-child > a,
.nav-tabs.nav-stacked > li:first-child > button {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a,
.nav-tabs.nav-stacked > li:last-child > button {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > button:hover {
    z-index: 2;
    border-color: #ddd;
}

.nav-tabs.nav-stacked {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
