<!-- BEGIN admin/inspire_monitor.tt -->

<div class="row">
[% FOREACH rec IN hits %]
<div class="col-md-10">
[% rec.year %] | [% rec.title %] | [% rec.author.0.full_name %]<br />
<a href="/import/inspire/:[% rec.id %]">Import</a><br />
</div>
[% END %]
</div>

<!-- END admin/inspire_monitor.tt -->