<!-- BEGIN footer.tt -->
<div>
<div id="fussstrich" style="padding-left:240px;"></div>
<div id="fussmenu" style="padding-left:270px;padding-top:10px;">
<ul>
<li><span class="footer">&copy; 2010-2014 <a href="http://www.ub.uni-bielefeld.de/english/">Bielefeld University Library</a></li>
<li><span class="footer">Built with <a href="http://www.librecat.org/">LibreCat<img src="/images/librecat.png" alt="" style="vertical-align:middle; margin-left:10px;" /></a> (Software developed by <a href="http://www.lub.lu.se/en.html" target="_blank">Lund</a>, <a href="http://lib.ugent.be/en">Ghent</a> and Bielefeld Univ. Libraries)</span></li>
<li><span class="footer">PUB is supported by the <a href="http://www.dfg.de/">DFG</a></span></li>
<li class="screen"><a href="[% h.host %]/policy">Policy</a></li>
<li class="screen"><a href="http://www.ub.uni-bielefeld.de/biblio/kontakt/impressum/" target="Imprint" onclick="window.open(this.href,'Imprint','width=900,height=650,left=1,top=1,directories=yes,toolbar=yes,location=yes,menubar=yes,status=yes,scrollbars=yes,resizable=yes')" class="footer">Imprint</a></li>
</ul>
</div>
</div>

<!-- END footer.tt -->