<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<title>Search Publications (PUB - Publications at Bielefeld University)</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />
<meta name="robots" content="index,follow,noimageindex" />
<link rel="icon" href="http://www.uni-bielefeld.de/icons/uni-logo-icon-16.png" type="image/png" />
<link rel="search" href="http://search.uni-bielefeld.de/cgi-bin/search.cgi" type="text/html" />
<link rel="help" href="http://www.uni-bielefeld.de/help.html" type="text/html" />
<link href="http://www.uni-bielefeld.de/Universitaet/impressum.html" rel="copyright" type="text/html" />
<link rel="stylesheet" type="text/css" media="screen" href="http://www.uni-bielefeld.de/css/unistandard_2009.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/frontend.css" />
<link rel="stylesheet" type="text/css" media="print" href="/css/print.css" />
<script language="javascript" src="http://www.uni-bielefeld.de/javascript/CrossPlatform.js" type="text/javascript"></script>
<script language="javascript" src="http://www.uni-bielefeld.de/javascript/Popup.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/tabs.js"></script>
</head>

<body>

[% INCLUDE frontend/header_topnav.tt %]

<div id="history">
<table width="100%" border="0" cellspacing="0" cellpadding="0" height="34">
<tr>
<td><a class="history" href="http://www.uni-bielefeld.de/(en)/">Bielefeld University</a> &gt; <a class="history" href="/(en)/">PUB - Publications at Bielefeld University</a> &gt; <a clasas="history" href="/pub?func=smask">Search</a></td>
</tr>
</table>
</div>

<div id="suche">
</div>

<div id="contentwide">
<div id="contenthauptspalte">

<h1 class="underline"><img src="/images/pub_titlelong_en.png" style="border: none;" alt="Publications at Bielefeld University" /></h1>

