<!-- BEGIN header_topnav.tt -->

<a name="top"></a>

<div id="logo"><a href="http://www.uni-bielefeld.de/(en)/"><img height="72" width="185" src="http://www.uni-bielefeld.de/images/template_2009/logo.jpg" border="0" alt="Logo of Bielefeld University" /></a></div>
<div id="titel"><a href="/"><img src="[% h.host %]/images/pub_headlinelong_en.gif" style="border: none;" alt="Publications at Bielefeld University" /></a></div>
<div id="kopf"></div>
<div id="logo_einr"> </div>
<div id="piktogramm"><h1 id="pub"><a href="/">PUB</a></h1></div>
<div id="Kopfbild1"><img src="[% h.host %]/images/kopfbild_links.jpg" alt="Hintergrundbild" /></div>
<div id="Kopfbild2"><img src="[% h.host %]/images/kopfbild_rechts.jpg" alt="Hintergrundbild" /></div>
<div style="left:600px;" id="linkkopf"><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/Uni%20A-Z/index.html">University from A-Z</a></div>
<div id="pulldown">

<div id="container">
<ul id="Navigation">
<li>
<a href="http://www.uni-bielefeld.de/(en)/Universitaet/">University</a>
<ul>

<li><a href="http://ekvv.uni-bielefeld.de/blog/uninews/">uni.news</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Ueberblick">About us</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Einrichtungen/">Faculties / Departments</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Forschung/">Research</a></li>
<!--  <li><a href="http://www.zfl.uni-bielefeld.de/studium">Studienangebot</a></li> -->
<li><a href="http://www.uni-bielefeld.de/(en)/International/Students/Degree/Studium/universitaet.html">Studying in Bielefeld</a></li>

<li><a href="http://www.ub.uni-bielefeld.de/english/">Library</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/">Service and Administration </a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/kultur/Portrait/">Culture</a></li>
</ul>
</li>
<li>
<a href="http://www.uni-bielefeld.de/(en)/International/">|&nbsp;International&nbsp;</a>

<ul>

<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Einrichtungen/Weitere%20Einrichtungen/IO/">International Office</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/ZIF/index.html">ZiF - Center for Interdisciplinary Research</a></li>
<li><a href="http://www.uni-bielefeld.de/International/Guide/">Guide</a></li>
</ul>
</li>
<li>

<a href="http://www.uni-bielefeld.de/(en)/Benutzer/">|&nbsp;Information&nbsp;for&nbsp;</a>
<ul>
<li><a href="http://www.uni-bielefeld.de/(en)/International/Students/">Students from abroad</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/International/Scientists/">Scholars</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/nachwuchs/">Young Researchers</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Benutzer/WissenschaftlerInnen/">Academic Staff</a></li>

<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Einrichtungen/Weitere%20Einrichtungen/IO/interpromo/">International Doctoral Candidates</a></li>
<!-- <li><a href="http://www.uni-bielefeld.de/Benutzer/AbsolventInnen/index.html">Alumni</a></li> -->
<li><a href="http://www.uni-bielefeld.de/(en)/Benutzer/Gaeste/">Guests</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Einrichtungen/Kommunikation/presse.html">Press</a></li>

</ul>
</li>
<li>

<a href="#"><img src="http://www.uni-bielefeld.de/images/buttons/lupe.gif" alt="Lupe" border="0" style="margin-top: 6px; margin-left: 5px; vertical-align: text-bottom;" /></a>
<ul>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/Uni%20A-Z/index.html">University from A - Z</a></li>
<li><a href="http://ekvv.uni-bielefeld.de/pers_publ/publ/i18nAct?lang=en">Staff and Departments Search </a></li>
<li><a href="http://www.uni-bielefeld.de/ekvv/">Course Catalog (in German)</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/International/Students/Sprache/index.html">Language prerequisites</a></li> 
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Studium/Studierendensekretariat/International/Bewerbung/index.html">Application, Admission</a></li>

<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Ueberblick/Organisation/Hochschulrat/hochschulrat.html">University Council</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Aktuelles/Exzellenzinitiative/index.html">Excellence Initiative</a></li>
<li><a href="http://search.uni-bielefeld.de/index.php?l=en">Search</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/Kontakt/index.html">Contact</a></li>
<li><a href="http://webmail.uni-bielefeld.de">Webmail</a></li>
</ul>

</li>
</ul>
</div>
</div>

<div id="language">
</div>

<!-- END header_topnav.tt -->