<!DOCTYPE html>

<!-- BEGIN header_hist_proj.tt -->

<html>
<title>Department of History: Project List</title>
<link rel="icon" href="/images/icon_uni.png" type="image/png">
[% INCLUDE head_meta.tt %]
</head>

<body class="embed">

<div class="row" style="margin-right:0;">
  <div class="col-sm-11">
    <div class="row">
      <div class="col-xs-8">

<!-- END header_hist_proj.tt -->
