<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>

<meta name="keywords" content="Faculties,Faculty of Biology, Faculty of Chemistry, Faculty of Educational Science, Faculty of History, Philosophy and Theology, Faculty of Public Health, Faculty of Linguistics and Literary Studies, Faculty of Mathematics, Faculty of Physics, Faculty of Psychology and Sports Science, Faculty of Law, Faculty of Sociology, Faculty of Business Administration and Economics, Faculty of Technology, University, Bielefeld, City, Administration, City and Region, Rektorat, job offers, information, addresses, how to find us, Contact, current news, Overview, departments, research, study, library, Service, Student Counselling Service, International, StudentsCenter, Interdisciplinary ,Research, ZiF, Guide, user, guest, pupils, students, academic, economy, Links,Press, staff, alumni association">

<meta name="description" content="Faculties and departments at Bielefeld University">

<title>Academic Awards and Prizes</title>
<link rel="meta" href="//www.uni-bielefeld.de/Universitaet/Einrichtungen/index.html?__xsl=/templates/dcrdf.xsl"><link rel="icon" href="//www.uni-bielefeld.de/icons/uni-logo-icon-16.png" type="image/png"><link rel="search" href="//search.uni-bielefeld.de/cgi-bin/search.cgi" type="text/html"><link rel="help" href="/help.html" type="text/html"><link rel="copyright" type="text/html" href="//www.uni-bielefeld.de/Universitaet/impressum.html"><link rel="stylesheet" href="//www.uni-bielefeld.de/(en)/css/unistandard_2009.css" type="text/css"><script defer language="javascript" src="//www.uni-bielefeld.de/javascript/CrossPlatform.js" type="text/javascript"></script><script defer language="javascript" src="//www.uni-bielefeld.de/javascript/Popup.js" type="text/javascript"></script> <meta name="viewport" content="user-scalable=yes, width=device-width" />
 <link rel="stylesheet" type="text/css" href="//www.uni-bielefeld.de/css/media_queries/smartphone.css" media="only screen and (max-device-width: 399px)" /> 
 <link rel="stylesheet" type="text/css" href="//www.uni-bielefeld.de/css/media_queries/ipad_uni.css" media="only screen and (min-width: 400px) and (max-device-width: 769px)" /> 
 <link rel="stylesheet" type="text/css" href="//www.uni-bielefeld.de/css/unistandard_2009.css" media="screen and (min-device-width: 770px)" />
 
<script type="text/javascript">
[% INCLUDE award/javaScript.tt %]
</script>

 <script type="text/javascript" src="//www.uni-bielefeld.de/javascript/jquery.js"></script>
 <script type="text/javascript" src="//www.uni-bielefeld.de/javascript/iphone.js"></script>
<link rel="apple-touch-icon" href="//www.uni-bielefeld.de/images/touch-icon-iphone.png">
</head>

<body>
<div id="logo"><a href="//www.uni-bielefeld.de/(en)/"><img border="0" height="72px" alt="Logo of Bielefeld University" src="//www.uni-bielefeld.de/images/template_2009/logo.jpg" width="185px"></a></div><div id="titel"><img src="/images/preise_title_en.gif" /></div><div id="kopf"></div><div id="logo_einr"> </div><div id="piktogramm"> </div><div id="Kopfbild1"><img src="/images/kopfbild_award_links.jpg" alt="Hintergrundbild"></div><div id="Kopfbild2"><img src="/images/kopfbild_award_rechts.jpg" alt="Hintergrundbild"></div><div id="Kopfbild3"></div><div style="left:600px;" id="linkkopf"><a href="//www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/Uni%20A-Z/index.html">University from A-Z</a></div><div id="pulldown"><style type=text/css>

#Navigation li:hover ul ul, #Navigation li:hover ul ul ul,
#Navigation li.sfhover ul ul, #Navigation li.sfhover ul ul ul {
    left: -999em;
    }


/* This "unhides" the sub-menus (left: -999em is what hides them) */

#Navigation li:hover ul, #Navigation li li:hover ul, #Navigation li li li:hover ul,
#Navigation li.sfhover ul, #Navigation li li.sfhover ul, #Navigation li li li.sfhover ul {
    left: auto;
    }

ul#Navigation {
         padding: 0;
         margin: 0;
         font-weight: bold;
}

ul#Navigation li {
         list-style: none;
    	float: left;  /* ohne width - nach CSS 2.1 erlaubt */
    	position: relative;
    	margin: 0;
         padding: 0;
}
* HTML ul#Navigation li {
	margin-bottom: -0.4em;
}
*:first-child + HTML ul#Navigation li {
	margin-bottom: -0.1em;
}
ul#Navigation li ul {
         height: auto;
	width: 15.4em;
         w\idth: 14.9em;
         padding: 2pt;
         display: none;
         left: -0.4em;
         margin: 0px;
         position: absolute;
         top: 1.6em;
}
* HTML ul#Navigation li ul {
	left: -0.4em;
}
*:first-child + HTML UL#Navigation UL {
	padding-bottom: 0.4em;
         background-color: white;
}
ul#Navigation li:hover ul {
	display: block;
         background-color: white;
         border: 1px solid black;
         margin-top: 5px;
}
ul#Navigation li ul li {
	display: block;
         float: none;
         margin-bottom: 0.2em
}
ul#Navigation a {
         display: block;
         color: #333333;
	text-decoration: none;
	padding: 0.25em 0px 3px 0px;
}

* HTML UL#Navigation A {
	WIDTH: 6.4em
}

ul#Navigation a:hover {

}

</style>


<div id="container">
  <ul id="Navigation">
    <li>
      <a href="//www.uni-bielefeld.de/(en)/Universitaet/">University</a>
      <ul>
	   <li><a href="//ekvv.uni-bielefeld.de/blog/uninews/">uni.news</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Ueberblick">About us</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Einrichtungen/">Faculties / Departments</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/">Organization / Service</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Forschung/">Research</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/International/Students/Degree/Studium/universitaet.html">Studying in Bielefeld</a></li>
	   <li><a href="//www.ub.uni-bielefeld.de/english/">Library</a></li>

	   <li><a href="//www.uni-bielefeld.de/(en)/kultur/Portrait/">Culture</a></li>
      </ul>
    </li>
    <li>
      <a href="//www.uni-bielefeld.de/(en)/International/">|&nbsp;International&nbsp;</a>
      <ul>
<li><a href="//www.uni-bielefeld.de/(en)/ZIF/index.html">ZiF - Center for Interdisciplinary Research</a></li>
            <li><a href="//www.uni-bielefeld.de/(en)/International/IO/">International Office</a></li>
      </ul>
    </li>
    <li>
      <a href="//www.uni-bielefeld.de/(en)/Benutzer/">|&nbsp;Information&nbsp;for&nbsp;</a>
      <ul>
            <li><a href="//www.uni-bielefeld.de/(en)/International/Students/">Students from abroad</a></li>
            <li><a href="//www.uni-bielefeld.de/(en)/International/Scientists/">Scholars</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/nachwuchs/">Young Researchers</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/Benutzer/WissenschaftlerInnen/">Academic Staff</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/International/doctoralcandidates/">International Doctoral Candidates</a></li>
	   <!-- <li><a href="//www.uni-bielefeld.de/Benutzer/AbsolventInnen/index.html">Alumni</a></li> -->
            <li><a href="//www.uni-bielefeld.de/(en)/Benutzer/Gaeste/">Guests</a></li>
	   <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Einrichtungen/Kommunikation/presse.html">Press </a></li>

      </ul>
    </li>
    <li>
      <a href="#"><img src="//www.uni-bielefeld.de/images/buttons/lupe.gif" alt="Lupe" border="0" style="margin-top: 6px; margin-left: 5px; vertical-align: text-bottom;"/></a>
      <ul>
        <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/Uni%20A-Z/index.html">University from A - Z</a></li>
        <li><a href="//ekvv.uni-bielefeld.de/pers_publ/publ/i18nAct?lang=en">Staff and Departments Search </a></li>
        <li><a href="//www.uni-bielefeld.de/ekvv/">Course Catalog (in German)</a></li>
<li style="list-style-image:url(//www.uni-bielefeld.de/images/all/1pixgrau.gif)"><a href="//www.uni-bielefeld.de/(en)/International/Students/Sprache/index.html">Language prerequisites</a> 
</li> 
          <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Studium/Studierendensekretariat/International/Bewerbung/index.html">Application, Admission</a></li>
          <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Ueberblick/Organisation/Hochschulrat/hochschulrat.html">University Council</a></li>
          <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Aktuelles/Exzellenzinitiative/index.html">Excellence Initiative</a></li>
        <li><a href="//search.uni-bielefeld.de/index.php?l=en">Search</a></li>
        <li><a href="//www.uni-bielefeld.de/(en)/Universitaet/Serviceangebot/Kontakt/index.html">Contact</a></li>
        <li><a href="//webmail.uni-bielefeld.de">Webmail</a></li>
      </ul>
    </li>
  </ul>
</div></div><div id="language"><a class="select-language" href="[% request.env.REQUEST_URI.substr(3) %]">
                   
                  <img border="0" alt="Flag" src="//www.uni-bielefeld.de/icons/de.gif">
                      Deutsch
                    </a></div><div id="history">
<table border="0" valign="middle" cellspacing="0" cellpadding="0" height="34px" width="100%">

<tr>

<td><a class="history" href="//www.uni-bielefeld.de/(en)/">Bielefeld University</a> &gt; <a href="/en/award/" class="history">Academic Awards and Prizes</a></td>

</tr>

</table>
</div>
<div id="contentwide">
<div id="container_media">
<div id="header">
<div onclick="toggleMenu()" class="leftButton">Navigation</div>
<span class="footer">Push button to fold and unfold</span>
<div id="utility"><a style="font-weight:bold; background-color: #f0f0f0;color: #333333; display: block; font-size: 16px; margin-bottom: -1px; margin-left: -10px; padding-top: 6px; padding-right: 10px; padding-bottom: 6px; padding-left: 10px; margin-left:1px; margin-right:11px; text-decoration: none;" href="//www.uni-bielefeld.de/Universitaet/Einrichtungen/">Faculties and Departments</a><br>

<ul id="menu-toc">
<li><a href="#gen_id_2">Faculties and Departments </a></li>
</ul>

<ul id="menu-toc">
<li><a href="#gen_id_502">Organisation</a></li>
</ul>

<ul class="menu-left">
<li><a href="//www.uni-bielefeld.de/Universitaet/Einrichtungen/Fakultaeten/index.html">Faculties</a></li>
<li><a href="//ekvv.uni-bielefeld.de/pers_publ/publ/i18nAct?lang=en">Staff and Department Search</a></li>
</ul>
<br>
</div> <!-- utility -->
</div> <!-- header -->
</div> <!-- container_media -->