<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>

<meta name="keywords" content="Fakultäten,Fakultät für Biologie,Fakultät für Chemie,Fakultät für Geschichtswissenschaft und Philosophie,Fakultät für Gesundheitswissenschaften ,Fakultät für Linguistik und Literaturwissenschaft ,Fakultät für Mathematik,Fakultät für Pädagogik,Fakultät für Physik,Fakultät für Psychologie und Sportwissenschaft,Fakultät für Rechtswissenschaft,Fakultät für Soziologie ,Fakultät für Theol., Geogr., Kunst und Musik ,Technische Fakultät,Fakultät für Wirtschaftswissenschaften,Universität,Bielefeld,Stadt,Verwaltung,Vertretungen,Stadtund Region,Rektorat,Stellenauschreibungen,Informationen,Adressen,Anreisen,Kontakt,Aktuelles,Überblick,Fakultäten, Einrichtungen,Forschung,Studium,Bibliothek,Service,Studienberatung,International,StudentsCenter, Interdisciplinary ,Research, ZiF,Guide,Benutzer,Gäste,SchülerInnen,Studierende,WissenschaftlerInnen,Wirtschaft,Links,Presse,MitarbeiterInnen,AbsolventInnen">

<meta name="description" content="Fakultäten und Einrichtungen der Universität Bielefeld">

<title>Wissenschaftspreise und Auszeichnungen</title>
<link href="//www.uni-bielefeld.de/Universitaet/Einrichtungen/index.html?__xsl=//www.uni-bielefeld.de/templates/dcrdf.xsl" rel="meta"><link rel="icon" href="//www.uni-bielefeld.de/icons/uni-logo-icon-16.png" type="image/png"><link rel="search" href="//search.uni-bielefeld.de/cgi-bin/search.cgi" type="text/html"><link rel="help" href="//www.uni-bielefeld.de/help.html" type="text/html"><link href="//www.uni-bielefeld.de/Universitaet/impressum.html" rel="copyright" type="text/html"><link rel="stylesheet" href="//www.uni-bielefeld.de/(de)/css/unistandard_2009.css" type="text/css"><script defer src="//www.uni-bielefeld.de/javascript/CrossPlatform.js" language="javascript" type="text/javascript"></script><script defer src="//www.uni-bielefeld.de/javascript/Popup.js" language="javascript" type="text/javascript"></script> <meta name="viewport" content="user-scalable=yes, width=device-width" />
 <link rel="stylesheet" type="text/css" href="//www.uni-bielefeld.de/css/media_queries/smartphone.css" media="only screen and (max-device-width: 399px)" /> 
 <link rel="stylesheet" type="text/css" href="//www.uni-bielefeld.de/css/media_queries/ipad_uni.css" media="only screen and (min-width: 400px) and (max-device-width: 769px)" /> 
 <link rel="stylesheet" type="text/css" href="//www.uni-bielefeld.de/css/unistandard_2009.css" media="screen and (min-device-width: 770px)" />

<script type="text/javascript">
[% INCLUDE award/javaScript.tt %]
</script>

 <script type="text/javascript" src="//www.uni-bielefeld.de/javascript/jquery.js"></script>
 <script type="text/javascript" src="//www.uni-bielefeld.de/javascript/iphone.js"></script>
<link href="//www.uni-bielefeld.de/images/touch-icon-iphone.png" rel="apple-touch-icon">
</head>

<body>
<div id="logo"><a href="//www.uni-bielefeld.de"><img src="//www.uni-bielefeld.de/images/template_2009/logo.jpg" height="72px" alt="grünes Logo der Universität Bielefeld" width="185px" border="0"></a></div><div id="titel"><img src="/images/preise_title_de.gif" /></div><div id="kopf"></div><div id="logo_einr"> </div><div id="piktogramm"> </div><div id="Kopfbild1"><img src="/images/kopfbild_award_links.jpg" alt="Hintergrundbild"></div><div id="Kopfbild2"><img src="/images/kopfbild_award_rechts.jpg" alt="Hintergrundbild"></div><div id="Kopfbild3"></div><div id="linkkopf"><a href="//www.uni-bielefeld.de/Universitaet/Serviceangebot/Uni%20A-Z/index.html">Uni von A-Z</a></div>
<div id="pulldown">
<style type=text/css>

#Navigation li:hover ul ul, #Navigation li:hover ul ul ul,
#Navigation li.sfhover ul ul, #Navigation li.sfhover ul ul ul {
    left: -999em;
    }


/* This "unhides" the sub-menus (left: -999em is what hides them) */

#Navigation li:hover ul, #Navigation li li:hover ul, #Navigation li li li:hover ul,
#Navigation li.sfhover ul, #Navigation li li.sfhover ul, #Navigation li li li.sfhover ul {
    left: auto;
    }

ul#Navigation {
         padding: 0;
         margin: 0;
         font-weight: bold;
}

ul#Navigation li {
         list-style: none;
    	float: left;  /* ohne width - nach CSS 2.1 erlaubt */
    	position: relative;
    	margin: 0;
         padding: 0;
}
* HTML ul#Navigation li {
	margin-bottom: -0.4em;
}
*:first-child + HTML ul#Navigation li {
	margin-bottom: -0.1em;
}
ul#Navigation li ul {
         height: auto;
	width: 15.4em;
         w\idth: 14.9em;
         padding: 2pt;
         display: none;
         left: -0.4em;
         margin: 0px;
         position: absolute;
         top: 1.6em;
}
* HTML ul#Navigation li ul {
	left: -0.4em;
}
*:first-child + HTML UL#Navigation UL {
	padding-bottom: 0.4em;
         background-color: white;
}
ul#Navigation li:hover ul {
	display: block;
         background-color: white;
         border: 1px solid black;
         margin-top: 5px;
}
ul#Navigation li ul li {
	display: block;
         float: none;
         margin-bottom: 0.2em
}
ul#Navigation a {
         display: block;
         color: #333333;
	text-decoration: none;
	padding: 0.25em 0px 3px 0px;
}

* HTML UL#Navigation A {
	WIDTH: 6.4em
}

ul#Navigation a:hover {

}

</style>


<div id="container">
  <ul id="Navigation">
    <li>
      <a href="//www.uni-bielefeld.de/Universitaet/">Universit&auml;t&nbsp;</a>
      <ul>
        <li><a href="//ekvv.uni-bielefeld.de/blog/uniaktuell/">uni.aktuell</a></li>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Ueberblick/">Über uns / &Uuml;berblick</a></li>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Einrichtungen/">Fakult&auml;ten/Einrichtungen</a></li>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Serviceangebot/">Organisation / Service</a></li>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Forschung">Forschung</a></li>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Studium/">Studium / Studienangebot</a></li>
        <li><a href="//www.ub.uni-bielefeld.de/">Bibliothek</a></li>
        <li><a href="//www.uni-bielefeld.de/kultur/">Kultur</a></li>
      </ul>
    </li>
    <li>
      <a href="//www.uni-bielefeld.de/International/">|&nbsp;International&nbsp;</a>
      <ul>
	   <li><a href="//www.uni-bielefeld.de/(en)/ZIF/index.html">ZiF - Center for Interdisciplinary Research</a></li>
	   <li><a href="//www.uni-bielefeld.de/International/IO/">International Office</a></li>
            <li><a href="//www.uni-bielefeld.de/(en)/International/Students/">Students</a></li>
            <li><a href="//www.uni-bielefeld.de/(en)/International/Scientists/">Scholars</a></li>
      </ul>
    </li>
    <li>
      <a href="//www.uni-bielefeld.de/Benutzer/">|&nbsp;Informationen&nbsp;f&uuml;r&nbsp;</a>
      <ul>
<li><a href="//www.uni-bielefeld.de/Benutzer/Studierende/">Studierende</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/Lehrende/">Lehrende</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/WissenschaftlerInnen/">WissenschaftlerInnen</a></li>
<li><a href="//www.uni-bielefeld.de/nachwuchs/">Wiss. Nachwuchs</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/MitarbeiterInnen/">MitarbeiterInnen</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/SchuelerInnen/">SchülerInnen</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/Wirtschaft/">Wirtschaft</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/AbsolventInnen/">AbsolventInnen</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/Gaeste/">Gäste</a></li>
<li><a href="//www.uni-bielefeld.de/Benutzer/Presse/">Presse</a></li>

      </ul>
    </li>
    <li>
      <a href="#"><img src="//www.uni-bielefeld.de/images/buttons/lupe.gif" alt="Lupe" border="0" style="margin-top: 6px; margin-left: 5px; vertical-align: text-bottom;"/></a>
      <ul>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Serviceangebot/Uni%20A-Z/index.html">Uni von A - Z</a></li>
        <li><a href="//ekvv.uni-bielefeld.de/bede/cal">Veranstaltungskalender</a></li>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Serviceangebot/Personen-Suche/index.html">Personen-Suche</a></li>
        <li><a href="//www.uni-bielefeld.de/ekvv/">eKVV-Vorlesungs- verzeichnis</a></li>
        <li><a href="//www.studentenwerkbielefeld.de/index.php?id=129">Mensaplan</a></li>
        <li><a href="//search.uni-bielefeld.de/">Suche</a></li>
        <li><a href="//www.uni-bielefeld.de/Universitaet/Serviceangebot/Kontakt/index.html">Kontakt</a></li>
        <li><a href="//webmail.uni-bielefeld.de">Webmail</a></li>
      </ul>
    </li>
  </ul>
</div></div><div id="language"><a href="/en[% request.env.REQUEST_URI %]" class="select-language">
                   
                  <img src="//www.uni-bielefeld.de/icons/en.gif" alt="Flagge" border="0">
                      English
                    </a></div><div id="history">
<table valign="middle" height="34px" cellspacing="0" cellpadding="0" border="0" width="100%">

<tr>

<td><a href="//www.uni-bielefeld.de/" class="history">Universität Bielefeld</a> &gt; <a href="/award" class="history">Wissenschaftspreise und Auszeichnungen</a></td>

</tr>

</table>
</div>
<div id="contentwide">
<div id="container_media">
<div id="header">
<div onclick="toggleMenu()" class="leftButton">Navigation</div>
<span class="footer">Button drücken zum Ein- und Ausklappen</span>
<div id="utility"><a href="/awards/" style="font-weight:bold; background-color: #f0f0f0;color: #333333; display: block; font-size: 16px; margin-bottom: -1px; margin-left: -10px; padding-top: 6px; padding-right: 10px; padding-bottom: 6px; padding-left: 10px; margin-left:1px; margin-right:11px; text-decoration: none;">Wissenschaftspreise und Auszeichnungen</a><br>

<ul id="menu-toc">
<li><a href="#gen_id_2">Fakultäten und Einrichtungen </a></li>
</ul>

<ul id="menu-toc">
<li><a href="#gen_id_489">Organisation</a></li>
</ul>

<ul class="menu-left">
<li><a href="/Universitaet/Einrichtungen/Fakultaeten/index.html">Fakultäten</a></li>
<li><a href="//ekvv.uni-bielefeld.de/pers_publ/publ/Home.jsp">Personen-  und Einrichtungssuche</a></li>
</ul>
<br>
</div> <!-- utility -->
</div> <!-- header -->
</div> <!-- container_media -->