~$
blib/
Build
/_build*
/.build
!Build/
/Build
Build*
catmandu.local.yml
cover_db/
cpanfile.snapshot
data/file_uploads/**
data/temp_uploads/**
docs/
.DS_Store
inc/
.last_cover_stats
layers.yml
/LC-LC-*
local
local/
*.log
logs/
MANIFEST.bak
META*
MYMETA.*
node_modules/
nytprof*
package.json
.perl-version
*.pid
pm_to_blib
profiledata/
/.prove
public/images/dummy.jpg
public/javascripts/commonmarkjs/*
public/javascripts/MathJax/*
sessions/
*.spec
*.swp
.tidyall.d/*
tmp/*
t/tmp/*
!t/tmp/.gitkeep
uploads/
.vagrant/
vendor/
views/admin/forms/
views/backend/forms/
views/department/nodes*
wiki/
