!Build/
*.log
*.pid
*.swp
.DS_Store
.build/
.last_cover_stats
.perl-version
.tidyall.d/*
.vagrant/
Build
Build.bat
MANIFEST.bak
META.yml
MYMETA.yml
catmandu.local.yml
_build/
blib/
cover_db/
cpanfile.snapshot
data/temp_uploads/**
data/file_uploads/**
inc/
local
local/
logs/
node_modules/
nytprof.out
package.json
pm_to_blib
profiledata/
public/RePEc/*
public/images/dummy.jpg
public/javascripts/MathJax/*
public/javascripts/commonmarkjs/*
public/pub_index.txt
sessions/
tmp/*
t/tmp/*
!t/tmp/.gitkeep
uploads/
vendor/
views/admin/forms/
views/backend/forms/
views/docs
~$
