/LC-LC-*
/.build
/_build*
/Build
MYMETA.*
!META.json
/.prove
!Build/
*.log
*.pid
*.spec
*.swp
.DS_Store
.last_cover_stats
.perl-version
.tidyall.d/*
.vagrant/
Build
Build.bat
MANIFEST.bak
catmandu.local.yml
blib/
cover_db/
cpanfile.snapshot
data/temp_uploads/**
data/file_uploads/**
docs/
inc/
layers.yml
local
local/
logs/
node_modules/
nytprof.out
package.json
pm_to_blib
profiledata/
public/RePEc/*
public/images/dummy.jpg
public/javascripts/MathJax/*
public/javascripts/commonmarkjs/*
public/pub_index.txt
sessions/
tmp/*
t/tmp/*
!t/tmp/.gitkeep
uploads/
vendor/
views/admin/forms/
views/backend/forms/
views/docs
wiki/
~$
