Guten Tag!

Es gibt eine neue Datenpublikation zum Reviewen und Veroeffentlichen:

ID: [% _id %]
"[% title %]"
([% author.0.full_name %])

[% host %]/librecat/search/admin?q=id=[% _id %].

Viel Spass!