The publication '[% title %]' has been requested by [% user_name %] ([% user_email %]).

To approve this request click on the link below:
http://pub.uni-bielefeld.de/requestcopy/approve/[% key %]

If you want to refuse this request click on the following link:
http://pub.uni-bielefeld.de/requestcopy/deny/[% key %]

Your PUB system
