The publication <<[% title %]>> has been requested by [% user_email %].

To approve this request click on the link below:
[% host %]/rc/approve/[% key %]

If you want to deny this request click on the following link:
[% host %]/rc/deny/[% key %]

Your PUB system
