The publication <<[% title %]>> has been requested by [% user_email %].
[% IF mesg %]
Message: [% mesg %]
[% END %]
To approve this request click on the link below:
[% uri_base %]/rc/approve/[% key %]

If you want to deny this request click on the following link:
[% uri_base %]/rc/deny/[% key %]

Your [% appname_short %] Team