[% PROCESS header.tt %]

<!-- BEGIN 418.tt -->

<div class="row"><!-- outer border -->

  <div class="col-md-11 col-sm-12"><!-- main content -->

    <div id="banner">
	<h1>[% h.loc("418.heading") %]</h1>
    </div>

    <div class="row margin-top1">
      <div class="col-md-12">
	  <p>[% h.loc("418.text") %]</p>
      </div>
    </div>

  </div>

</div>

<!-- END 418.tt -->

[% INCLUDE footer.tt %]
