<!-- BEGIN person/profile.tt -->
<div class="row" id="add_new_button">
  <div class="col-md-10">
    <a href="/myPUB/record/new" class="btn btn-sm btn-block pubbutton" style="font-size:105%;"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Add new Publication</a>
  </div>
</div>
<!-- END person/profile.tt -->
