[% entry.author.0.full_name || entry.editor.0.full_name | html %], <em>[% entry.title | html %]</em>.<br />[% entry.publication | html %] <strong>[% entry.volume | html %]</strong> ([% entry.issue | html %]).<br />[% entry.place | html %], [% entry.year | html %]