[% entry.author.0.full_name || entry.editor.0.full_name | html %], <em>[% entry.title | html %]</em>. [% entry.publication | html %] <strong>[% entry.volume | html %]</strong> ([% entry.issue | html %]). [% entry.place | html %], [% entry.year | html %]