[% INCLUDE header.tt %]

<!-- BEGIN error.tt -->

<div class="row"><!-- outer border -->

  <div class="col-md-11 col-sm-12"> <!-- main content (left) -->

      <span class="label label-danger">[% message %]</span>

  </div>

</div>

<!-- END error.tt -->

[% INCLUDE footer.tt %]
