<!DOCTYPE html>
<html>

<!-- BEGIN head.tt -->

  <head>
    <title>PUB - Publication at Bielefeld University</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/mypub.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-select.min.js"></script>
    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/backend.js"></script>
    <script src="/javascripts/dropzone3.0.js"></script>
    <script src="/javascripts/pub_dropzones.js"></script>

    <style>
    body.dragging, body.dragging * {
      cursor: url(/images/closedhand.cur) 4 4, move !important;
    }

    .dragged {
      position: absolute;
      margin-left:-250px;
      opacity: 0.5;
      z-index: 2000;
    }

    div.dz-preview:hover {
      cursor: url(/images/openhand.cur) 4 4, move !important;
    }

    div.dz-preview.placeholder {
      position: relative;
    }
    div.dz-preview.placeholder:before {
      position: absolute;
    }
    </style>

  </head>

  <body>


<!-- END head.tt -->
