<!DOCTYPE html>
<html ng-app="angularController">

  <head>

    <title>PUB &ndash; Publications at Bielefeld University</title>

    <link rel="icon" href="/images/icon_uni.png" type="image/png">

    [% INCLUDE head_meta.tt %]
    [% INCLUDE head_scripts.tt %]
    [% qp = request.params.hash %]
    [% qp.delete('splat') %]

  </head>

  <body class="embed">

  <div class="row" style="margin-right:0;">
    <div class="col-sm-11">
      <div class="row">
	<div class="col-sm-8 col-md-8">
	  [% INCLUDE hits.tt %]
	</div>
	<div class="col-sm-4 col-md-3 col-md-offset-1">
	  [% INCLUDE facets.tt %]
	</div>
      </div>
    </div>
  </div>

  </body>

</html>