<!-- BEGIN person/profile.tt -->
<div class="row" id="dropzone_row">
  <div class="well col-md-10">
  
  <div class="dropzone" id="qaeUpload"></div>
  
  <div><a href="http://pub.uni-bielefeld.de/policy.html#depositpolicy" target="_blank">PUB Deposit Policy</a></div>
  </div>
</div>
<!-- END person/profile.tt -->
