<!-- BEGIN rightBoxLogin.tt -->
<div>
  <a href="[% h.shost %]/luur" class="btn btn-sm btn-block pubbutton" style="font-size:105%;"><span class="fa fa-sign-in"></span>&nbsp;&nbsp;&nbsp;[% lang ? "Login to PUB" : "PUB Login" %]</a>
</div>

<div>&nbsp;</div>
<!-- END rightBoxLogin.tt -->