/*****
* Additional CSS for PUB,overruling bootstrap.min.css 
*****/

/* sticky footer */
@media screen {
html,body,main{height:100%;}
main{min-height:100%;height:auto!important;margin:0 auto -120px;}
#push{height:160px;}
footer{height:120px;}
}

/* top navbar */
.navbar-default.backend{border-color:#b6c828;}
.navbar-default.frontend{background-image:none;background-color:#fff;box-shadow:none;border-color:#d3de73;}
.navbar-default .navbar-brand{padding:7px 0 7px 7px;margin-left:0!important;}
.navbar-fixed-top .navbar-right{padding-right:5px;}
.navbar-title{font-size:12px;padding-top:32px;padding-left:10px;display:inline-block;}

/* breadcrumb */
.breadcrumb .navbar-right{margin-right:0!important;}
.breadcrumb > li + li::before{content:"";}

/* display main content below navbar */
main{padding-top:30px;}

/* page-header */
.page-header{margin-bottom:10px;}

/* headlines */
h1,.h1,h2,.h2,h3,.h3{margin-top:31px;}
[class^='col']>h2,.panel-body h3{margin-top:0;}
.title h1{font-size:22px;margin-top:0;}
h3 a{font-size:inherit;}
.h3 a,h4 a{font-weight:normal;}
h3.expert{border-bottom:1px dashed #b6c828;}

/* fonts */
.smaller-xs{font-size:70%;}

/* links */
.normal,.normal a,a small,small a{font-weight:normal!important;}
nav a,.nav a{font-weight:bold;}
a .badge{color:#fff;margin-left:5px;}
a .total-marked{margin-right:5px;}
.nolink{cursor:default;}
.select-language a{color:#777!important;font-weight:bold!important;}
.dropdown.active a{cursor:pointer!important;}

/*Some margin for row'ed paragraphs*/
.row>p{margin-top:10px;}

/* dont display this */
.ltIEten{display:none;}

/* some margins,if needed */
.margin0{margin:0!important;}
.margin-top0{margin-top:0!important;}
.margin-top1-4{margin-top:5px!important;}
.margin-top1-2,.margin-top1,.margin-top2,.margin-top3{margin-top:10px!important;}
.margin-top-1{margin-top:-20px!important;}
.margin-bottom0{margin-bottom:0!important;}
.margin-bottom1-4{margin-bottom:5px!important;}
.margin-bottom1-2,.margin-bottom1,.margin-bottom2,.margin-bottom3{margin-bottom:10px!important;}
.margin-xs{margin-top:20px;margin-bottom:20px;}
.panel-group,.margin-xs-top{margin-top:20px;}
.margin-xs-bottom{margin-top:20px;}
.buttonrow{margin-left:5px;}
.innerrow{margin-left:0;}

/* some paddings,if needed */
.padding0{padding:0!important;}
.padding-top0{padding-top:0!important;}
.padding-top1-4{padding-top:5px!important;}
.padding-top1-2,.padding-top1,.padding-top2,.padding-top3{padding-top:10px!important;}
.padding-top-1{padding-top:-20px!important;}
.padding-bottom0{padding-bottom:0!important;}
.padding-bottom1-4{padding-bottom:5px!important;}
.padding-bottom1-2,.padding-bottom1,.padding-bottom2,.padding-bottom3{padding-bottom:10px!important;}
.tab-pane.active{padding-top:20px;}

/* no border */
.noborder{border:0;}

/* image */
.img-thumbnail{margin:0 5px 2px 0;}

/* buttons */
.btn-white{background-image:none;background-color:#fff;border-color:#ccc!important;}
.btn-link{font-weight:bold;}

/* Anzahl Publikationen auf Startseite */
.statalign{display:inline-block;min-width:50px;text-align:right;}

/* definition hitlist */
.hitlist dt:first-child{margin-top:0;}
.hitlist dt{margin-top:11px;}
.hitlist dd{margin-left:16px;}

/* Zitation */
.citation-block-link{position:absolute;width:100%;height:100%;top:0;left:0;z-index:1;}
.citation-block-div{position:relative;}
.citation-block-div a{font-weight:normal !important;}
.citation-block-div:hover,.citation-block-div:focus{background-color:#efefef;}

/* width */
.fw,a span[class^='glyphicon']{width:1.4em;}
.fw1{width:1.75em;/*fits width of label*/}
.fw2{width:2.55em;/*fits width of img-thumbnail*/}
.fw3{width:3em;/*not in use yet*/}
.fw4{width:4em;/*not in use yet*/}
.fw5{width:5em;/*not in use yet*/}
.fw6{width:11.5em;/*fits publ-type-dropdown*/}
.fw7{width:14em;/*fits change-edit-form-button*/}
a span[class^='fa fa-arrow']{margin-left:5px;width:.8em;}

/* frontdoor */
#preview{position:absolute;top:200px;left:-100px;width:380px;padding:10px;font-size:24px;text-align:center;color:rgb(255,255,255);font-family:'trebuchet ms',verdana,arial,sans-serif;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform-origin:50% 0px 0px;-webkit-transform-origin:50% 0px;background-color:rgb(0,0,0);border:1px solid rgb(170,170,170);z-index:12;opacity:0.5;}
.text-muted,.text-tight{line-height:1.5;}
.text-xtight{line-height:1.25;}
#details .row{margin-top:6px;}
#citethis{margin-bottom:21px;}
#citethis .tab-content{border:1px solid #ddd;border-top:0;border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-top-right-radius:4px;}
#citethis .tab-pane.active{padding:8px;}
div.cmark{border:1px solid #ccc;padding:5px!important;}
#details, #ebi_citations, #confletter, #ebi_dblinks, #ebi_references, #fileDetails, #relMat, #relPubl, #relResData, #toolkit{padding-left:10px;}

/* librarian approved */
.librarian-approved{color:#9dad23;}

/* nav links (filter publicatinons) */
.nav-tabs>li>a,.nav-tabs>li>button{padding-top:8px;padding-bottom:8px;line-height:20px;border:1px solid transparent;border-radius:4px 4px 0 0;margin-right:0;}
.nav-tabs.nav-stacked>li>a,.nav-tabs.nav-stacked>li>button{border:1px solid #ddd;border-radius:0}
.nav-tabs.nav-stacked>li>button{background-color:white;width:100%;text-align:left;padding-left:12px;}
.nav-tabs.nav-stacked>li>button:hover{background-color:#eee}
.nav-tabs.nav-stacked>li:first-child>a,.nav-tabs.nav-stacked>li:first-child>button{border-top-right-radius:4px;border-top-left-radius:4px;}
.nav-tabs.nav-stacked>li:last-child>a,.nav-tabs.nav-stacked>li:last-child>button{border-bottom-right-radius:4px;border-bottom-left-radius:4px;}
.nav-tabs.nav-stacked>li>a:hover,.nav-tabs.nav-stacked>li>button:hover{z-index:2;border-color:#ddd;}
.nav-tabs.nav-stacked{border-bottom-left-radius:4px;border-bottom-right-radius:4px;}

/* nav links sub menus */
.facettecollapse{border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom-left-radius:4px;border-bottom-right-radius:4px;margin-top:-2px;padding-top:2px;}
.facettecollapse ul{list-style:none;padding-left:28px;}

/* delete and edit icons in file upload */
.corner_up{position:absolute;top:-1px;left:-1px;padding:3px 7px;border:1px solid #ddd;color:#9DA0A4;border-radius:4px 0 4px 0;}
.corner_down{position:absolute;bottom:-1px;left:-1px;padding:3px 7px;border:1px solid #ddd;color:#9DA0A4;border-radius:0 4px 0 4px;}

/* login page */
.loginframe{border-color:#b6c828;background:#fff!important;}

/* dropzone */
#theses_dz_preview .well{background:#fff!important;}
.dropzone{padding-left:0;padding-right:0;margin-left:0;}
.dz-preview,.dz-file-preview{position:relative;margin-left:15px;padding-left:40px;}
.dz-default.dz-message{min-height:40px;}
.dz-default.dz-message.qae{background-color:#fff;padding:5px;margin-bottom:5px;text-align:center;}
.dz-clickable,.input-group-addon{cursor:pointer;}

/* mighty grabschhand for file dragging */
.dragging,.dragging *{cursor:url(/images/closedhand.cur) 4 4, move!important;}
.dragged{position:absolute;margin-left:-250px;opacity:.5;z-index: 2000;}
.dz-preview:hover{cursor:url(/images/openhand.cur) 4 4, move!important;}
.dz-preview.placeholder{position:relative;}
.dz-preview.placeholder:before{position:absolute;}

/* share-a-copy */
input.unstyled{border:0;border-radius:0;box-shadow:none;margin:0;padding:0;display:inline;}

/* add/edit form */
.input-group-btn select{border-radius:0!important;margin-left:1px;padding-top:8px;padding-bottom:9px;}
div.input-group.sticky .input-group-addon{background-color:#fff;color:#555;}
div.input-group.sticky .input-group-addon:first-child{background-color:#e0e0e0;background-image:linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);}
div.input-group.sticky div.input-group-addon:empty{cursor:default;}
div.sticky{border-radius:3px;border:1px solid #ccc;}
div.sticky.mandatory{border:1px solid #666;}
div.sticky_top{margin-bottom:0;border-bottom-left-radius:0;border-bottom:none;}
div.sticky_top div.sticky{border-bottom-left-radius:0;border-bottom-right-radius:0;border-bottom:none;}
div.sticky_top div.sticky div.input-group-addon{border-bottom-left-radius:0;border-bottom-right-radius:0;}
div.sticky_bottom textarea{margin-top:0;border-top-left-radius:0;border-top-right-radius:0;}
div.input-group.sticky .input-group-addon,div.sticky input,div.sticky select,div.sticky textarea{border:none;outline:0;}
div.sticky span.label.label-default{background-color:transparent;border:1px solid #ccc;color:inherit;}
.form-control[readonly]{cursor:not-allowed;}

input.has-error,.has-error input{background-color:#ffcfce;}
.checkbox-inline input[type='checkbox']{margin-top:0;}
.reuse-license{padding-left:18px;padding-right:18px;}
:-moz-placeholder,:-webkit-placeholder,:-ms-input-placeholder,[placeholder],.placeholder{color:#f00 !important;}
.starMandatory:after{content:" *";font-size:18px;vertical-align:middle;color:#f00;font-weight:bold;}
.tab_section{padding-bottom:20px;}

.ui-autocomplete{position:absolute;cursor:pointer;max-height:100px;overflow-y:auto;overflow-x:hidden;z-index:9999;}
* html .ui-autocomplete{height:100px;}
.ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left;}
.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{background:lightgray;}
.ui-widget-content{border:1px solid black;background:white;color:#222;}

/* overwrite bootstrap */
.mark{background-color:inherit;}

/* sort */
.sortitem{cursor:move;}

/* iframe styles */

body.embed {padding:0;margin:0;width:100%;}
.embed h2,.embed h3{font-weight:bold;}
.embed h2 {font-size:16px;}
.embed h3 {font-size:14px;}
.embed .pagination{margin:11px 0;}

/* special styles for screens */
@media (max-width:479px){
.hidden-xxs{display:none!important;}
.navbar-title{padding:3px;margin:8px 0 0 10px;border:1px solid #ccc;border-radius:4px;}
h2,.h2,h3,.h3{margin-top:11px;}
a{font-weight:bold;}
}

@media (max-width:767px){
footer{height:240px;/*footer height x 2*/}
a{font-weight:bold;}
}
  
@media (max-width:992px){
.page-header{padding-bottom:0;}
.margin0-sm{margin-bottom:0!important;}
a{font-weight:bold;}
}

@media (min-width:480px){
.xxs-only{display:none!important;}
a{font-weight:bold;}
}

@media (min-width:768px){
.text-sm-right{text-align:right;}
.margin-top1{margin-top:20px!important;}
.margin-top2{margin-top:40px!important;}
.margin-top3{margin-top:60px!important;}
.margin-bottom1{margin-bottom:20px!important;}
.margin-bottom2{margin-bottom:40px!important;}
.margin-bottom3{margin-bottom:60px!important;}
.padding-top1{padding-top:20px!important;}
.padding-top2{padding-top:40px!important;}
.padding-top3{padding-top:60px!important;}
.padding-bottom1{padding-bottom:20px!important;}
.padding-bottom2{padding-bottom:40px!important;}
.padding-bottom3{padding-bottom:60px!important;}
h2,.h2,h3,.h3{margin-top:21px;}
nav.frontend{min-height:100px!important;}
.uninav{width:100%;background-color:#b6c828;height:32px;margin-left:192px;background:linear-gradient(top,#b6c828 0%,#b6c828 22px,#d3de73 23px,#d3de73 100%);background:-moz-linear-gradient(top,#b6c828 0,#b6c828 22px,#d3de73 23px,#d3de73 100%);background:-webkit-linear-gradient(top,#b6c828 0,#b6c828 22px,#d3de73 23px,#d3de73 100%);background:-o-linear-gradient(top,#b6c828 0,#b6c828 22px,#d3de73 23px,#d3de73 100%);}
.uninav .dropdown-toggle{padding-top:0;padding-bottom:0;text-align:center;color:#555!important;width:170px;}
.navbar-title{font-size:15px;padding-top:52px;}
span.select-language{padding-top:57px;display:inline-block;}
.select-language a{display:inline-block;padding:0 6px 1px;background-color:#666;color:#fff!important;font-weight:normal!important;font-size:11px;}
main.front{padding-top:110px;}
a{font-weight:bold;}
}

@media (min-width:992px){
.text-md-right{text-align:right;}
h1,.h1,h2,.h2,h3,.h3{margin-top:31px;}
.uninav .dropdown-toggle{width:200px;text-transform:uppercase;}
main{padding-top:40px;}
.statalign{min-width:80px;}
.margin-xs,.margin-xs-top,.margin-xs-bottom{margin-top:0;margin-bottom:0;}
.smaller-xs{font-size:inherit;}
}

@media (min-width:1200px){
.text-lg-right{text-align:right;}
.uninav .dropdown-toggle{width:250px;}
main{padding-top:50px;}
}

@media print {
main{padding:0!important;}
.tab-pane .col-sm-8{width:100%!important;}
.breadcrumb,.col-sm-2.col-sm-offset-1,.col-md-3.col-md-offset-1,footer,.list-inline,.mark{display:none!important;}
a[href^="/"]:after{content:" <http://pub.uni-bielefeld.de" attr(href) "> ";}
a[href].label.label-primary:after,.citation-block-div a[href]:after,.nav-tabs a[href]:after,.pagination a[href]:after{content:"";}  
}

/*****
* EOF
*****/