/***********
/*
/* print.css
/* created by bielefeld university
/* edited by sebastian wolf, bielefeld university
/* last update: december 2010
/*
***********/

/* Basics */

body, #contentwide, #contenthauptspalte, #contenthauptspaltelang, #fussmenu, #LeftCol, #menuboxrechts, #topcontentwide {
width:100% !important;
background:#ffffff !important;
color:#000000 !important;
font:10pt "Times New Roman",serif !important;
margin:0 !important;
padding:0 !important;
text-align:left !important;
}

/* Don't print these divs */

#logo, #titel, #kopf, #logo_einr, #piktogramm, #Kopfbild1, #Kopfbild2, #linkkopf, #pulldown, #container, #Navigation, #language, #history, #suche, #menubereich, #seitenbox, #infoboxrechts, #twitter_update_list, #CiteThis, #RightCol img, .PlusLink, .MinusLink, .screen {
display:none;
}

/* headline */

h1 {
font-size:12pt;
border:0;
}

h2,h3,h4,h5,h6 {
font-size:11pt;
}

/* no break after headlines */

h1,h2,h3,h4,h5,h6 {
page-break-after:avoid;
}

/* lists */

ul li {
margin-left:-25px;
}

ol li {
margin-left:-20px;
}

li {
padding:0 0 6pt;
}

/* text */

.highlight, .printbold {
font-weight:bold;
}

.frontdoor, .margin1 {
margin-top:10pt;
}

.frontdoor_left {
font-weight:bold;
}

/* table */

td, th {
vertical-align:top;
}

/* margins */

td p, td ul {
margin-top:0;
margin-bottom:0;
}

td p+p, td ul+p {
margin-top:10px;
}

/* no border */

abbr, acronym {
border:0;
}

/* links */

a:link, a:visited {
color:#000000 !important;
text-decoration:none;
}

/* print URIs */

a.printlink[href]:after, a.frontdoor_hidden[href]:after { /* print URL */
content:" <"attr(href)">";
font-style:italic;
}

a.printlink[href^="/"]:after, a.frontdoor_hidden[href^="/"]:after { /* add basic url when it's an internal link */
content:" <http://pub.uni-bielefeld.de" attr(href) "> ";
}

.doilink:before { 
content:"http://dx.doi.org/";
}

.urnlink:before { 
content:"http://nbn-resolving.de/";
}

.archivelink:before { 
content:"http://arxiv.org/abs/";
}

.inspirelink:before { 
content:"http://inspirebeta.net/record/";
}



/* End of File */