<h5>PUB in a Nutshell</h5>
  <p><a href="/pub_handreichung.pdf"><img src="http://www.uni-bielefeld.de/bis/images/pfeil2.gif" alt="" border="0" style="vertical-align:middle" />Download Short Guide (author's view)</a> (PDF, in German)</p>
<p><a href="/pub_handreichung_reviewer.pdf"><img src="http://www.uni-bielefeld.de/bis/images/pfeil2.gif" alt="" border="0" style="vertical-align:middle" />Download Short Guide (reviewer's view)</a> (PDF, in German)</p>

<p><img src="http://www.uni-bielefeld.de/bis/images/pfeil2.gif" alt="" border="0" align="left" />Please also refer to the "FAQ" section on this page.</p>