<html>
<head>
	 <script src="[% uri_base %]/javascripts/jquery.min.js"></script>
	 <script>
$(document).ready(function() {

	$('#dolist').submit('click', function () {
		var key = $('#dolist input[name=key]').val();
		var url = librecat.uri_base + "/librecat/api/filestore/" + key;

		$('#dolist_result').empty();
		$('#dolist_result').append("<pre>GET " + url + "</pre>");

		var imgurl    = librecat.uri_base + "/librecat/api/access/" + key + "/x/thumbnail";

		$('#dolist_result').append("<img src=\"" + imgurl + "\">");

		$.getJSON(url, function(data) {
			var items = [];

			for (var i in data.files) {
				var filename  = data.files[i].key;
				var filesize  = data.files[i]['size'];
				var geturl    = librecat.uri_base + "/librecat/api/filestore/" + key + "/" + filename;

				$('#dolist_result').append(
					"<div>" +
					"<a target=new href=\"" +  geturl + "\">" +
					filename +
					"</a>" +
					" (" + filesize + " bytes )</div>"
				);
			}
		});

		return false;
	});

});
	 </script>
</head>
<body>

<h1>API</h1>

<h2>FileStore</h2>

<h3>List</h3>
<form id="dolist" method="post" enctype="multipart/form-data">
 	<input type="hidden" name="action" value="list">
    Select container key:
    <input type="text" name="key" size="10" value="000000008"><br>
    <input type="submit" name="submit" value="Submit">
</form>
<div id="dolist_result"></div>

<h3>Upload</h3>
<p style="font-weight: bold; color: #f00">[% upload_message %]</p>
<form method="post" enctype="multipart/form-data">
 	<input type="hidden" name="action" value="upload">
    Select container key:
    <input type="text" name="key" size="10" value="000000008"><br>
    Select file to upload:
    <input type="file" name="file"><br>
    <input type="submit" name="submit" value="Upload">
</form>

</body>
</html>
