[%- USE XML::Strict -%]
[%- IF xsl %]<?xml-stylesheet type="text/xsl" href="[% xsl | xml_strict %]"?>[% END %]
<modsCollection xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-3.xsd">
