[%- USE XML::Strict -%]
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:bibo="http://purl.org/ontology/bibo/"
    xmlns:ore="http://www.openarchives.org/ore/terms/"
    xmlns:owl="http://www.w3.org/2002/07/owl#">
    <rdf:Descirption rdf:about="/person/[% _id %]" rdf:type="foaf:Person">
    	<foaf:name>[% person.fullName | xml_strict %]</foaf:name>
        <foaf:surname>[% person.surname | xml_strict %]</foaf:surname>
        <foaf:givenname>[% person.givenName | xml_strict %]</foaf:givenname>
        <foaf:workInfoHomepage rdf:resource="http://ekvv.uni-bielefeld.de/pers_publ/publ/PersonDetail.jsp?personId=[% person.personNumber | xml_strict %]"/>
        [% FOREACH co IN coAuthors %]
        <foaf:knows rdf:resource="[% h.host %]/person/[% co.personNumber %]" />
        [% END %]
        [% FOREACH entry IN hits %]
        <dc:creator rdf:resource="[% h.host %]/publication/[% entry.oId %]" />
        [% END %]
    </rdf:Description>
</rdf:RDF>