[% PROCESS header.tt %]
[% path = request.path %]
[% qp = request.params.hash %]
[% qp.delete('splat') %]

<!-- BEGIN websites/418.tt -->

<div class="row"><!-- outer border -->

  <div class="col-md-11 col-sm-12"><!-- main content -->

    <div id="banner">
	<h1>[% lf.418.heading %]</h1>
    </div>

    <div class="row margin-top1">
      <div class="col-md-12">
	  <p>[% lf.418.text %]</p>
      </div>
    </div>

  </div>

</div>

<!-- END websites/418.tt -->

[% INCLUDE footer.tt %]
