<h3>Erste Schritte zur pers&ouml;nlichen Publikationsliste</h3>
  <p><a href="pub_handreichung.pdf"><img src="http://www.uni-bielefeld.de/bis/images/pfeil2.gif" alt="" border="0" align="left" />Handreichung f&uuml;r Autoren herunterladen</a><br />(PDF, Stand: 15.01.2012)</p>
  <p><a href="pub_handreichung_reviewer.pdf"><img src="http://www.uni-bielefeld.de/bis/images/pfeil2.gif" alt="" border="0" align="left" />Handreichung f&uuml;r Reviewer herunterladen</a><br />(PDF, Stand: 15.01.2012)</p>

  <p><img src="http://www.uni-bielefeld.de/bis/images/pfeil2.gif" alt="" border="0" align="left" />Lesen Sie auch die Fragen und Antworten im Bereich "FAQ" auf dieser Seite.</p>