<!-- BEGIN websites/header_topnav.tt -->

<a name="top"></a>

<div id="logo"><a href="http://www.uni-bielefeld.de/"><img height="72" width="185" src="http://www.uni-bielefeld.de/images/template_2009/logo.jpg" border="0" alt="Logo der Universit&auml;t Bielefeld" /></a></div>
<div id="titel"><a href="/"><img src="/images/pub_headlinelong_de.gif" style="border: none;" alt="PUB - Publikationen an der Universit&auml;t Bielefeld" /></a></div>
<div id="kopf"></div>
<div id="logo_einr"> </div>
<div id="piktogramm"><h1 id="pub"><a href="/">PUB</a></h1></div>
<div id="Kopfbild1"><img src="/images/kopfbild_links.jpg" alt="Hintergrundbild" /></div>
<div id="Kopfbild2"><img src="/images/kopfbild_rechts.jpg" alt="Hintergrundbild" /></div>
<div id="linkkopf"><a href="http://www.uni-bielefeld.de/Universitaet/Serviceangebot/Uni%20A-Z/index.html">Uni von A-Z</a></div>
<div id="pulldown">

<div id="container">

<ul id="Navigation">
<!--
<li>
<a href="http://www.uni-bielefeld.de/Universitaet/">Universit&auml;t&nbsp;</a>
<ul>
<li><a href="http://ekvv.uni-bielefeld.de/blog/uniaktuell/">uni.aktuell</a></li>
<li><a href="http://www.uni-bielefeld.de/Universitaet/Ueberblick/">&Uuml;berblick</a></li>
<li><a href="http://www.uni-bielefeld.de/Universitaet/Einrichtungen/">Fakult&auml;ten/ Einrichtungen</a></li>
<li><a href="http://www.uni-bielefeld.de/Universitaet/Forschung">Forschung</a></li>
<li><a href="http://www.zfl.uni-bielefeld.de/studium">Studienangebot</a></li>

<li><a href="http://www.uni-bielefeld.de/Universitaet/Studium/">Studium</a></li>
<li><a href="http://www.ub.uni-bielefeld.de/">Bibliothek</a></li>
<li><a href="http://www.uni-bielefeld.de/Universitaet/Serviceangebot/">Service und Verwaltung</a></li>
<li><a href="http://www.uni-bielefeld.de/kultur/">Kultur</a></li>
</ul>
</li>
<li>

<a href="http://www.uni-bielefeld.de/International/">|&nbsp;International&nbsp;</a>
<ul>
<li><a href="http://www.uni-bielefeld.de/International/Students/">Students</a></li>
<li><a href="http://www.uni-bielefeld.de/(en)/ZIF/index.html">ZiF - Center for Interdisciplinary Research</a></li>
<li><a href="http://www.uni-bielefeld.de/International/Guide/">Guide</a></li>
</ul>

</li>
<li>
<a href="http://www.uni-bielefeld.de/Benutzer/">|&nbsp;Informationen&nbsp;f&uuml;r&nbsp;</a>
<ul>
<li><a href="http://www.uni-bielefeld.de/Benutzer/Studierende/">Studierende</a></li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/Lehrende/">Lehrende</a></li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/WissenschaftlerInnen/">WissenschaftlerInnen</a></li>

<li><a href="http://www.uni-bielefeld.de/nachwuchs/">Wiss. Nachwuchs</a></li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/MitarbeiterInnen/">MitarbeiterInnen</a></li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/SchuelerInnen/">Sch&uuml;lerInnen</a>
</li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/Wirtschaft/">Wirtschaft</a></li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/AbsolventInnen/">AbsolventInnen</a></li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/Gaeste/">G&auml;ste</a></li>
<li><a href="http://www.uni-bielefeld.de/Benutzer/Presse/">Presse</a></li>

</ul>
</li>
<li>
<a href="#"><img src="http://www.uni-bielefeld.de/images/buttons/lupe.gif" alt="Lupe" border="0" style="margin-top: 6px; margin-left: 5px; vertical-align: text-bottom;"/></a>
<ul>
<li><a href="http://www.uni-bielefeld.de/Universitaet/Serviceangebot/Uni%20A-Z/index.html">Uni von A - Z</a></li>
<li><a href="http://bis.uni-bielefeld.de/infomanager/SilverStream/Pages/Veranstaltungs_Anzeige_Web.html">Veranstaltungskalender</a></li>
<li><a href="http://www.uni-bielefeld.de/Universitaet/Serviceangebot/Personen-Suche/index.html">Personen-Suche</a></li>

<li><a href="http://www.uni-bielefeld.de/ekvv/">eKVV-Vorlesungs-verzeichnis</a></li>
<li><a href="http://www.studentenwerkbielefeld.de/index.php?id=129">Mensaplan</a></li>
<li><a href="http://search.uni-bielefeld.de/">Suche</a></li>
<li><a href="http://www.uni-bielefeld.de/Universitaet/Serviceangebot/Kontakt/index.html">Kontakt</a></li>
<li><a href="http://webmail.uni-bielefeld.de">Webmail</a></li>
</ul>
-->
</li>
</ul>
</div>
</div>

<div id="language">
</div>

<!-- END websites/header_topnav.tt -->
