[% SWITCH fi.accessLevel %][% CASE "openAccess" %]<img src="/images/access_open.png" class="description" data-html="true" data-placement="bottom" rel="tooltip" title="Open access file" />[% CASE "lu" %]<img src="/images/access_restricted.png" class="description" data-html="true" data-placement="bottom" rel="tooltip" title="Accessible from UniBi campus (or via VPN)" />[% CASE "admin" %]<img src="/images/access_restricted.png" class="description" data-html="true" data-placement="bottom" rel="tooltip" title="Restricted access for author/reviewer only." />[% END %]