[% SWITCH fi.access_level %][% CASE "open_access" %]<img src="/images/access_open.png" class="description" data-html="true" data-placement="bottom" rel="tooltip" title="Open access file" alt="OA">[% CASE "local" %]<img src="/images/access_restricted.png" class="description" data-html="true" data-placement="bottom" rel="tooltip" title="Accessible from UniBi campus (or via VPN)" alt="Campus/VPN">[% CASE "closed" %]<img src="/images/access_restricted.png" class="description" data-html="true" data-placement="bottom" rel="tooltip" title="Restricted access for author/reviewer only." alt="Restricted">[% END %]