<div class="form-group row innerrow"><div class="col-md-6"><textarea rows="3" name="abstract.' + index + '.text" id="id_abstract_' + index + '" class="form-control"></textarea></div><div class="col-md-6"><label for="id_ab_abLanguageOId' + index + '"></label></div><div class="form-group col-md-3"><select name="abstract.' + index + '.lang" id="id_abstract_language_' + index + '" class="form-control">[% FOREACH lang IN h.get_list('language_preselect').keys.sort %]<option value="[% h.get_list('language_preselect').$lang %]" [% IF lang == "English" %]selected="selected"[% END %]>[% lang %]</option>[% END %]<option value="2436687"></option>[% FOREACH lang IN h.get_list('language').keys.sort %]<option value="[% h.get_list('language').$lang %]" [% IF abLanguageOId == h.get_list('language').$lang %]selected="selected"[% END %]>[% lang %]</option>[% END %]</select></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>