<div class="form-group row innerrow"><div class="col-md-9"><input type="text" name="alternative_title_' + index + '" id="id_alternative_title_' + index + '" value="" placeholder="' + placeholder + '" class="form-control"></div></div>