<div class="form-group row innerrow"><div class="col-md-9"><select name="ddc.' + index + '" class="form-control"><option value="">--- Select DDC ---</option>[% FOREACH group IN h.get_list('ddc').keys.sort %]<optgroup label="[% h.get_list('ddc').$group.optgroup %]">[% FOREACH xddc IN h.get_list('ddc').$group.keys.sort %][% NEXT IF xddc == "optgroup" %]<option id="[% xddc %]" value="[% xddc %]">[% h.get_list('ddc').$group.$xddc %]</option>[% END %]</optgroup>[% END %]</select></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>