<div class="form-group row innerrow"><div class="col-md-6"><select name="ddc" class="form-control"><option value="">--- Select DDC ---</option>[% FOREACH group IN h.ddc.keys.sort %]<optgroup label="[% h.ddc.$group.optgroup %]">[% FOREACH xddc IN h.ddc.$group.keys.sort %][% NEXT IF xddc == "optgroup" %]<option id="[% xddc %]" value="[% xddc %]">[% h.ddc.$group.$xddc %]</option>[% END %]</optgroup>[% END %]</select></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>