<div class="row innerrow"><input type="hidden" name="department" id="dp_idautocomplete_' + index + '" value="" /><div class="form-group col-md-7"><input type="text" name="dp_departmentName_' + index + '" class="form-control" id="dp_autocomplete_' + index + '" value="" /></div><div class="form-group col-md-2"><input type="button" onclick="javascript:selectButton(this);" class="btn select_button department" id="department_select_' + index + '" value="Select"/></div><div class="col-md-1"><span class="glyphicon glyphicon-minus single"></span></div></div>