<div class="form-group row innerrow"><div class="col-md-3"><select class="form-control" name="external_id.{{source_' + index + '}}" ng-model="source_' + index + '"><option value="">-- Select --</option>[% FOREACH extid IN external_identifier_list.keys %]<option value="[% extid %]"[% IF extid == ext_id.id %] selected="selected"[% END %]>[% external_identifier_list.$extid.name %]</option>[% END %]</select></div><div class="col-md-6"><input type="text" value="[% ext_id.value %]" class="form-control" name="external_id.{{source_' + index + '}}.value" id="external_id_' + index + '" /></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>