<div class="form-group row innerrow"><div class="col-md-3"><select class="form-control" ng-model="external_id_source_' + index + '"><option value="">-- Select --</option>[% FOREACH extid IN external_identifier_list.keys %]<option value="[% extid %]">[% external_identifier_list.$extid.name %]</option>[% END %]</select></div><div class="col-md-6"><input type="text" value="" class="form-control" name="external_id.{{external_id_source_' + index + '}}" id="external_id_' + index + '" /></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>