<div class="form-group row innerrow"><div class="col-md-6"><select name="language" class="form-control" id="select_language_' + index + '">[% FOREACH lang IN h.language_preselect.keys.sort %]<option value="[% lang %]"[% IF lang=="English" %] selected="selected"[% END %]>[% lang %]</option>[% END %]<option value="2436687"></option>[% FOREACH lang IN h.language.keys.sort %]<option value="[% lang %]">[% lang %]</option>[% END %]</select></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>