<div class="form-group row innerrow"><div class="col-md-9"><select name="language.0.iso" ng-model="language.0" class="form-control{% IF fields.basic_fields.language.mandatory OR fields.supplementary_fields.language.mandatory %} required{% END %}" id="select_language_0">[% FOREACH lang IN h.get_list('language_preselect').keys.sort %]<option value="[% lang %]"[% IF lang == language.text || (!language AND lang=="English") %] selected="selected"[% END %]>[% lang %]</option>[% END %]<option value="2436687"></option>[% FOREACH lang IN h.get_list('language').keys.sort %]<option value="[% lang %]"[% IF lang == language.text %] selected="selected"[% END %]>[% lang %]</option>[% END %]</select><input type="hidden" name="language.0.name" value="{{language.0}}" /></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>