<div class="form-group row innerrow"><div class="col-md-9"><select name="language.' + index + '.iso" ng-model="language.' + index + '" class="form-control" id="select_language_' + index + '">[% FOREACH lang IN h.get_list('language_preselect').keys.sort %]<option value="[% lang %]"[% IF lang == language.text || (!language AND lang=="English") %] selected="selected"[% END %]>[% lang %]</option>[% END %]<option value="2436687"></option>[% FOREACH lang IN h.get_list('language').keys.sort %]<option value="[% lang %]"[% IF lang == language.text %] selected="selected"[% END %]>[% lang %]</option>[% END %]</select><input type="hidden" name="language.' + index + '.name" value="" /></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>