<div class="row innerrow"><input type="hidden" name="pj_projectOId_' + index + '" id="pj_idautocomplete_' + index + '" value="" /><div class="form-group col-md-7"><input type="text" name="pj_projectName_' + index + '" class="form-control" id="pj_autocomplete_' + index + '" value="" placeholder="' + placeholder + '" /></div><div class="form-group col-md-2"><input type="button" onclick="selectButton(this);" class="btn select_button project" id="project_select_' + index + '" value="Select"/></div><div class="col-md-1"><span class="glyphicon glyphicon-minus single"></span></div></div>