<div class="form-group row innerrow"><div class="col-md-3"><select class="form-control" name="publication_identifier.' + index + '.id"><option value="">-- Select --</option>[% FOREACH pubid IN h.get_list('publication_identifier') %]<option value="[% pubid.id %]">[% pubid.name %]</option>[% END %]</select></div><div class="col-md-6"><input type="text" value="[% pub_id.value %]" class="form-control" name="publication_identifier.[% loop.index %].id" id="publication_id_' + index + '" /></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>