<div class="form-group row innerrow"><div class="col-md-3"><select class="form-control" ng-model="source_' + index + '"><option value="">-- Select --</option>[% FOREACH pubid IN publication_identifier_list.keys.sort %]<option value="[% pubid %]">[% publication_identifier_list.$pubid %]</option>[% END %]</select></div><div class="col-md-6"><input type="text" value="" class="form-control" name="publication_identifier.{{source_' + index + '}}[]" id="publication_id_' + index + '" /></div><div class="col-md-1"><div class="glyphicon glyphicon-minus single"></div></div></div>