<!-- BEGIN tab_ebi.tt -->

<div class="tab-pane" id="ebi_dblinks">
Data provided by the <a href="http://www.ebi.ac.uk/">European Bioinformatics Institute (EBI)</a>.<br /><br />
          
[% FOREACH db IN ebiData.dbLinks.keys %]
<div class="frontdoor">
  <div class="frontdoor_left">[% db %]</div>
  <div class="frontdoor_right">
  [% total = ebiData.dbLinks.$db.total %]
    [% IF db == 'EMBL' %]<a href="http://www.ebi.ac.uk/ena/data/search?query=[% medline %]">[% total %]</a>[% ELSE %][% total %][% END %] item(s) found citing this article[% IF total > 10 %] of which 10 are displayed[% END %].<br /><br />
    [% max = (total - 1 > 9) ? 9 : (total - 1)  %]
    [% FOREACH i IN [0..max] %]
      [% item = ebiData.dbLinks.$db.data.$i %]
      <a href="[% item.info5.content %]">[% item.info2.content %] ([% db %]: [% item.info1.content %])</a><br />
      [% item.info3.label %]: [% item.info3.content %]<br />
      [% IF db == 'EMBL' %]
      <a href="http://www.ebi.ac.uk/ena/data/view/[% item.info1.content %]&display=fasta&download=fasta&filename=[% item.info1.content %].fasta"><span class="fa fa-share-square-o"></span> Download in FASTA format</a><br />
      [% ELSIF db == 'UNIPROT' %]
      <a href="http://www.uniprot.org/uniprot/[% item.info1.content %].fasta"><span class="fa fa-share-square-o"></span> Download in FASTA format</a><br />
      [% ELSIF db == 'PDB' %]
      <a href="http://www.ebi.ac.uk/pdbe-srv/view/files/[% item.info1.content %].ent"><span class="fa fa-share-square-o"></span> Public wwPDB file in PDB format</a><br />
      [% END %]
      <br />
    [% END %]
  </div>
</div>
[% END %]
</div>

<!-- END tab_ebi.tt -->