
<!-- BEGIN frontdoor/tab_toolkit.tt -->

<div class="tab-pane" id="toolkit">
[% h.loc("frontdoor.tabs.toolkit.data_by") %]<br><br>
  <div class="row">
    <div class="col-md-2 text-muted">Systems</div>
    <div class="col-md-10">
    [% FOREACH d IN toolkit.Systems %]<a href="[% d | html %]">[% d | html %]</a><br>[% END %]
    </div>
  </div>
</div>

<!-- END frontdoor/tab toolkit.tt -->
