---
# Hooks provide ways in to execute some custom code before or after important
# actions in the LibreCat application.
# The configuration below shows the hooks that are available and all custom
# actions associated with it.
# To add a new hook: create a Perl module that implements the 'fix' method.
# See the lib/LibreCat/Hook/nothing.pm for a simple example
hooks:
  # Code that runs when creating a new publication
  publication-new:
    before_fixes: []
    after_fixes: []

  # Code that runs when editing a new publication
  publication-edit:
    before_fixes: []
    after_fixes: []

  # Code that runs when changing the edit mode of a publication
  publication-change-type:
    before_fixes: ['publication_change_type']
    after_fixes: []

  # Code that runs when updating a publication
  publication-update:
    before_fixes: ['validate']
    after_fixes:
      - index_record
      - new_research_data_email
      - new_research_data_datacite

  # Code that runs when updating a publication via cli
  publication-update-cmd:
    before_fixes: ['validate']
    after_fixes: []

  # Code that runs at a 'Make public' action
  publication-publish:
    before_fixes: []
    after_fixes:
      - index_record
      - new_research_data_email
      - new_research_data_datacite

  # Code that runs when deleting a publication
  publication-delete:
    before_fixes: []
    after_fixes: ['index_record']

  # Code that runs at a 'Return' action
  publication-return:
    before_fixes: []
    after_fixes: ['index_record']

  # Code that runs when a publication access is tried without credentials
  publication-access-denied:
    before_fixes: []
    after_fixes: []

  # Code that runs when importing a publication
  publication-import:
    before_fixes: ['validate']
    after_fixes: ['index_record']

  # Code that runs when importing a Quick and Easy publication
  qae-new:
    before_fixes: []
    after_fixes: []

  # Code that runs when updating a project via cli
  project-update-cmd:
    before_fixes: ['validate']
    after_fixes: []

  # Code that runs when updating a department via cli
  department-update-cmd:
    before_fixes: ['validate']
    after_fixes: []

  # Code that runs when updating a research_group via cli
  research_group-update-cmd:
    before_fixes: ['validate']
    after_fixes: []

  # Code that runs when updating an user via cli
  user-update-cmd:
    before_fixes: ['validate']
    after_fixes: []

  # Code that runs when updating an user
  user-update:
    before_fixes: ['validate']
    after_fixes: ['index_record']

  # Code that runs when updating a project
  project-update:
    before_fixes: ['validate']
    after_fixes: ['index_record']

  # Code that runs when updating a department
  department-update:
    before_fixes: ['validate']
    after_fixes: ['index_record']

  # Code that runs when updating a research_group
  research_group-update:
    before_fixes: ['validate']
    after_fixes: ['index_record']
