[% IF doi %]
<div class="row innerrow">
  <div class="col-md-2">
    <label for="id_doi">
      {% fields.basic_fields.doi.label %}
    </label>
  </div>
  <div class="col-md-10">
    <div class="form-group col-md-5">
      <input type="text" name="doi" id="id_doi" value="[% doi %]" class="form-control{% IF fields.basic_fields.doi.mandatory %} required{% END %}" {% IF fields.basic_fields.doi.readonly %}readonly="readonly"{% END %}>
    </div>
  </div>
</div>
[% END %]