<div class="row innerrow">
  <div class="col-md-2">
    <label for="id_extern">
      {% fields.supplementary_fields.extern.label %}
    </label>
  </div>
  <div class="col-md-10">
    <span class="form-group col-md-1">
      <input type="checkbox" name="extern" id="id_extern" value="extern"[% IF extern %] checked="checked[% END %] class="form-control">
    </span>
  </div>
</div>