<div class="form-group"><input type="hidden" name="dp_departmentOId_' + index + '" id="dp_idautocomplete_' + index + '" value="" /><span class="form-group col-md-7"><input type="text" name="dp_departmentName_' + index + '" class="form-control" id="dp_autocomplete_' + index + '" value="" /></span><span class="form-group col-md-2"><input type="button" class="btn" value="Select"/></span><span class="col-md-1"><span class="glyphicon glyphicon-minus single"></span></div>