[% xdepartments = h.config.lists.xdepartments %][% FOREACH dept IN xdepartments.keys.sort %][% dept %]<br />[% FOREACH subdept IN xdepartments.$dept.keys.sort %][% NEXT IF subdept == "oId" %]<span style="padding-left:10px;">[% subdept %]</span><br />[% FOREACH subsubdept IN xdepartments.$dept.$subdept.keys.sort %][% NEXT IF subsubdept == "oId" %]<span style="padding-left:20px;">[% subsubdept %]</span><br />[% END %][% END %][% END %]