<div class="form-group"><input type="hidden" name="rg_researchGroupOId_' + index + '" id="rg_idautocomplete_' + index + '" value="" /><span class="form-group col-md-7"><input type="text" name="rg_researchGroupName_' + index + '" class="form-control" id="rg_autocomplete_' + index + '" value="" /></span><span class="col-md-2"><input type="button" onclick="selectButton(this);" class="btn select_button researchgroup" id="researchgroup_select_' + index + '" value="Select"/></span><span class="col-md-1"><span class="glyphicon glyphicon-minus single"></span></span></div>