<div class="row innerrow hidden-xs hidden-sm">
  <div class="col-md-2">
    <label>
      
    </label>
  </div>
  <div class="col-md-10">
    <div class="form-group row innerrow">
      <div class="col-md-9">
        <strong>Fieldname</strong> <span class="starMandatory"></span> = Required field
      </div>
    </div>
  </div>
</div>