<div class="row innerrow">
  <div class="col-md-2">
    <label for="id_quality_controlled">
      {% fields.supplementary_fields.quality_controlled.label %}
    </label>
  </div>
  <div class="col-md-10">
    <span class="form-group col-md-1">
      <input type="checkbox" name="quality_controlled" id="id_quality_controlled" value="quality_controlled"[% IF quality_controlled %] checked="checked"[% END %] class="form-control">
    </span>
  </div>
</div>