<div class="controls controls-row"><select name="alternateIdentifierType_' + index + '" id="alternateIdentifierType_' + index + '" class="span2"><option value="">-- select --</option><option value="isbn">ISBN</option><option value="issn">ISSN</option><option value="eissn">eISSN</option></select><input type="text" class="span3" name="alternateIdentifier_' + index + '" id="alternateIdentifier_' + index + '" placeholder="Alternate Identifier"> &nbsp;<i class="icon-minus single"></i></div>