<div class="controls controls-row"><select name="contributorType_' + index + '" id="contributorType_' + index + '" class="span2"><option value="">-- select --</option><option value="contactPerson">ContactPerson</option><option value="dataManager">DataManager</option></select><input type="text" class="span3" name="contributorName_' + index + '" id="contributorName_' + index + '" placeholder="Org. Name or Last Name, First Name"> &nbsp;<i class="icon-minus single"></i></div>