<div class="controls controls-row"><select name="dateType_' + index + '" id="dateType_' + index + '" class="span2"><option value="">-- select --</option><option value="valid">Valid</option><option value="accepted">Accepted</option></select><input type="text" name="date_' + index + '" id="date_' + index + '" class="span3" placeholder="YYYY-MM-DD"> &nbsp;<i class="icon-minus single"></i></div>