<div class="controls control-group"> <input type="text" name="dp_departmentName_' + index + '" class="span4" id="dp_autocomplete_' + index + '" value="" /> <input type="button" onclick="javascript:selectOrganization(&quot;dp_departmentName_' + index + '&quot;, &quot;dp_departmentOId_' + index + '&quot;)" class="btn" value="Select"/> <input type="hidden" name="dp_departmentOId_' + index + '" id="dp_idautocomplete_' + index + '" value="" /><i class="icon-minus single"></i></div>