<div class="controls control-group"> <input type="text" name="pj_projectName_' + index + '" class="span4" id="pj_autocomplete_' + index + '" value="" /> <input type="button" onclick="javascript:selectProject(&quot;pj_projectName_' + index + '&quot;, &quot;pj_projectOId_' + index + '&quot;)" class="btn" value="Select"/> <input type="hidden" name="pj_projectOId_' + index + '" id="pj_idautocomplete_' + index + '" value="" /><i class="icon-minus single"></i></div>