<div class="controls controls-row"><select name="relatedIdentifierType_' + index + '" id="relatedIdentifierType_' + index + '" class="span1"><option value="">-- select --</option><option value="doi">DOI</option><option value="urn">URN</option></select><select name="relationType_' + index + '" id="relationType_' + index + '" class="span1"><option value="">-- select --</option><option value="cites">This publication cites</option><option value="isCitedBy">This publication is cited by</option></select><input type="text" class="span3" name="relatedIdentifier_' + index + '" id="relatedIdentifier_' + index + '" placeholder="Related Identifier"> &nbsp;<i class="icon-minus single"></i></div>