<div class="controls control-group"> <input type="text" name="rg_researchGroupName_' + index + '" class="span4" id="rg_autocomplete_' + index + '" value="" /> <input type="button" onclick="javascript:selectResearchGroup(&quot;rg_researchGroupName_' + index + '&quot;, &quot;rg_researchGroupOId_' + index + '&quot;)" class="btn" value="Select"/> <input type="hidden" name="rg_researchGroupOId_' + index + '" id="rg_idautocomplete_' + index + '" value="" /><i class="icon-minus single"></i></div>