<div class="controls controls-row"><select name="unit_' + index + '" id="unit_' + index + '" class="span2"><option value="">-- select --</option><option value="pages">Pages</option><option value="kB">kB</option><option value="MB">MB</option><option value="GB">GB</option></select><input type="text" name="dataSize_' + index + '" id="dataSize_' + index + '" class="span3" placeholder="Size"> &nbsp;<i class="icon-minus single"></i></div>