<div class="row innerrow">
  <div class="col-md-2">
    <label for="id_title">
      {% fields.basic_fields.title.label %}{% IF fields.basic_fields.title.mandatory == "1" %}<span class="starMandatory">*</span>{% END %}
    </label>
  </div>
  <div class="col-md-10">
    <span class="form-group col-md-9">
      <input type="text" name="title" id="id_title" value="[% title %]" placeholder="{% fields.basic_fields.title.placeholder %}" class="form-control required">
    </span>
  </div>
</div>