<div class="row innerrow">
  <div class="col-md-2">
    <label for="id_ubi_funded">
      {% fields.supplementary_fields.ubi_funded.label %}
    </label>
  </div>
  <div class="col-md-10">
    <span class="form-group col-md-1">
      <input type="checkbox" name="ubi_funded" id="id_ubi_funded" value="[% ubi_funded %]" class="form-control">
    </span>
  </div>
</div>