<div class="row innerrow">
  <div class="col-md-2">
    <label for="id_award_admin">{% award_admin.label %}</label>
  </div>
  <div class="col-md-10">
    <div class="form-group col-md-1">
      <input type="checkbox" name="award_admin" id="id_award_admin" value="1" [% IF award_admin  %]checked="checked"[% END %]>
    </div>
  </div>
</div>
