[% xprojects = h.search_project({"hierarchy"="1"}) %]<ul>[% FOREACH proj IN xprojects.keys.sort %]<li><a href="#" class="selectme" data-index="' + index + '" id="[% xprojects.$proj.oId %]">[% proj | replace("'","&apos;") %]</a></li>[% END %]</ul>