[% xprojects = h.search_research_group({"hierarchy"="1"}) %]<ul>[% FOREACH proj IN xprojects.keys.sort %]<li><a href="#" class="selectme" data-index="' + index + '" id="[% xprojects.$proj.oId %]">[% proj %]</a></li>[% END %]</ul>