<h5>Add a new publication</h5>

<form>
  <div class="span1">
    Title
  </div>
  
  <div class="span7">
    <input type="text" placeholder="title" class="span6">
  </div>
  
  <div class="span1">
    Author
  </div>
  
  <div class="span7">
    <input type="text" placeholder="first name" class="span3"> <input type="text" placeholder="last name" class="span3">
  </div>
    
</form>