<!-- BEGIN backend/qae.tt -->

<div id="dropzone_row" class="helpme" data-html="true" data-trigger="manual" data-placement="left" title="[% lf.help.quick_and_easy %]">
   <div class="dropzone" id="qaeUpload"></div>
</div>

<script>
$(document).ready(function(){
	Dropzone.options.qaeUpload.dictDefaultMessage = "[% lf.main_page.qae_drop_text %]";
});
</script>

<!-- END backend/qae.tt -->
